body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    max-width: 1200px;
    padding: 2%;
    flex-grow: 1;
    margin-top: 30px;
}

.houses-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2%;
}

.my-houses .description {
    font-size: 18px;
    color: #000000;
}